body{
    background-color: #EBEFFE !important;
}
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.std-nav a{
    border-left:0.5px solid rgb(68, 66, 66) ;
    border-right:0.5px solid rgb(68, 66, 66) ;
    padding: 0px;
    min-width: 50px;
    }
    .fa-circle-user{
        font-size: 30px;
        position: relative;
        padding: 10px;
        
        }
        .fa-circle-user:hover{
        color: orangered;
        }
        
        .fa-arrow-right-from-bracket{
         font-size: 30px;
        position: relative;
        padding: 10px;
        
        
        }
        .fa-arrow-right-from-bracket:hover{
        color: orangered;
        }
        .fa-bell{
           font-size: 30px;
           position: relative;
           padding: 10px;
           
        }
        .fa-bell:hover{
        color: orangered;
        }
/* dashboard body */
    
.dashboard.content {
    margin-top: 60px;
    background-color: #EBEFFE;
    margin-left: 25y0px;
    /* Width of sidebar */
    padding: 20px;
    height: fit-content;
  }
 /* end */
       /* side bar start------------------------------------- */

       .sidebar {
        position: fixed;
        top: 60px; /* Height of navbar */
        left: 0;
        width: 250px;
        height: 100%;
        background-color:  #1b478c;
        padding: 20px;
        z-index: 1000;
    }
    
    
    .sidebar a{
    color: white;
    font-size: 25px;
    /* border: 1px solid white; */
    margin: 0px 0px 20px 0px;
    
    }
    .sidebar a:hover{
    background-color: orangered;
    color: white;
    border: none;
    }
    .db-logos{
    margin: 10px;
    font-size: 25px;
    padding-left: 5px;
    }
    
    /* side bar end-------------------------------- */
    
    
    


/* teacher */
.your-teacher-box{

    background-color: white;
    border-radius: 10px;
    
}
.add-teacher h5{
    font-size: 25px;
    font-weight: 600;
}
.add-teacher p{
    font-size: 25px;
}
.your-teacher-box .sub-title-heading{
    border-bottom: 1px  solid#1414131a;

}
.your-teacher-box .teacher-panel{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.teacher-panel .teacher-panel-header{
    display: flex;
    flex-direction: row;
}
.header-text h4{
    font-weight: 500;
}
.header-text p{
    font-weight: 300;

}
.teacher-panel-body {
    display: flex;
    flex-direction: column;
}
.teacher-panel-body ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.teacher-panel-body #course-price{
    color: #ff5e14;
    background-color: #FF5E141A ;
    border-left: 1px solid ;
    padding-left: 5px;
    width: 50%;
}

/* end */

@media (max-width: 992px) {
    .std-nav{
    max-width: 80px;
    display: flex;
    align-items: center;
    background-color: #1b478c;
    margin-right: 25px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    }
    .std-nav a {
        border: 3px solid rgb(255, 255, 255);
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 50px;
      }
    }

@media (max-width: 770px) {
    .sidebar {
      position: fixed;
      width: 80px;
      height: 100vh;
      left: auto !important;
      background-color: #1b478c;
     
    }
    .sidebar .navbar-nav a {
      font-size: 0;
    }
    .sidebar .navbar-nav a i {
      font-size: 30px;
      margin: 0;
    }
    .sidebar .navbar-nav   .fa-sharp-duotone{
        margin-left: 0px;
    }
    .dashboard.content {
      overflow-x: hidden;
      margin-left: 80px;
      padding: 10px;
    }
    .your-teacher-box{
        margin-top: 30px;
    }
}

    @media (max-width: 479px) {
        .sidebar {
            position: fixed;
            width: 80px;
            height: 60vh;
            left: auto;
            background-color: #1b478c;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
          }
          .sidebar .navbar-nav {
            margin-bottom: 300px !important;
          }
          .sidebar .navbar-nav a {
            font-size: 0;
          }
          .sidebar .navbar-nav a i {
            font-size: 30px;
            margin: 0;
          }
          .sidebar .navbar-nav   .fa-sharp-duotone{
              margin-left: 0px;
          }
          .header-text{
          
            padding:2px !important;
            margin-left: 0px;
      
        }
        .header-text h4{
            font-size: 1.1rem;
            font-weight: 500;
        }
        .header-text p{
            font-size: 1rem;
            font-weight: 300;
        
        }
        .teacher-panel-header i{
           font-size: 50px !important;
          
        }
       .teacher-panel-body #course-price{
            font-size: 0.7rem;

        }
        .addBtn{
            font-size: 0.8rem !important;
         
        }
      }

        
  